
@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Headline:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/*In this section, I placed a root to have the colors and font styles*/
:root{
    --font-title:   "Stack Sans Headline", sans-serif;
    --font-text:"Ubuntu", sans-serif;
    --button-green-bg: #4caf4f;
    --button-green-hover:#a5d6a7;
    --button-white-bg: #f5f7fa;
    --button-text:#ffffff;
    --section-bg:#f5f7f4;
    --color-title1:#000000;
    --color-title:#4d4d4d;
    --color-text:#717171;
    --color-title-footer:#263238;
}

*{
    box-sizing: border-box;
}
body{
    margin: 0;

}

/*HEADER*/
header{
    max-width: 100%;
    max-height: 84px;
    align-items: center;
}
.logo-start{
    width: 154.49px;
    height: 24px;
    
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.nav-list{
    width: 588px;
    height: 24px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    font-family: var(--font-text);

}
/*BUTONS*/
.buttons-nav{
    width: 182px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center ;
    gap: 10px;
    margin: 10px;
}
.buttons-nav button{
    height: 40px;
    padding: 10px 20px 10px 20px ;
    border-radius: 10px;
    border: none;
    
}
.buttons-nav button:first-child{
    width: 77px;
    color: var(--button-green-bg);
    background-color: var(--button-white-bg);
}
.buttons-nav button:nth-child(2){
    width: 91px;
    color: var(--button-text);
    background-color: var(--button-green-bg);
}

/*MAIN*/
.home{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
/*SECTION START*/
.hero-section1{
    max-width:100%;
    height: 599px;
    padding: 96px 144px 96px 144px;
    background-color: var(--section-bg);
    display: flex;
    flex-direction: row;
    gap: 104px;
}
.hero-info{
    width: 657px;
    height: 276px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.info-title h1{
    height: 125px;
    font-family: var(--font-title);font-size: 64px;line-height: 76px;font-weight: 600;
    color: var(--color-title);
}
.title-green{
    color: var(--button-green-bg);
}
.info-title p{
    color: var(--color-text);
    font-family: var(--font-text);font-size: 16px;font-weight: 400;
}
.hero-button{
    width: 128px;
    height: 52px;
    border-radius: 4px;
    padding: 14px 32px 14px 32px;
    border: none;
    background-color: var(--button-green-bg);
    color: var(--button-text);
}

/*SECTION 2
ASSOCIATED CLIENT SECTIONS*/
.hero-section2{
    max-width: 100%;
    max-height: 190px;
    padding-right: 144px;
    padding-left: 144px;
}
.hero-clientes{
    width: 100%;
    max-height: 76px;
    text-align: center;
}
.hero-clientes h2{
    margin-bottom:0;
    font-family: var(--font-title);font-size: 36px;font-weight: 600;line-height: 44px;
    color: var(--color-title);
}
.hero-clientes p{
    font-family: var(--font-text);font-size: 16px;font-weight: 400;line-height: 24px;
    color: var(--color-text);
}
.hero-clientes-logo{
    width: 100%;
    height: 98px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
}
.clientes-logo-item{
    width: 48px;
    height: 48px;
    border: 8px;
}
/*SECTION 3 
Manage your entire community*/
.hero-section3{
    max-width: 100%;
    max-height: 416px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.hero-community{
    max-width: 100%;
    height: 120px;
    text-align: center;
}
.hero-community h2{
    width: 542px;
    margin: auto;
    font-family: var(--font-title);font-size: 36px;font-weight: 600;line-height: 44px;
    color: var(--color-title);
}
.hero-community p{
    font-family: var(--font-text);font-size: 16px;font-weight: 400;line-height: 24px;
    color: var(--color-text);
}
.hero-community-info{
    max-width: 100%;
    height: 280px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 144px;
    padding-right: 144px;
}
.community-info{
    width: 299px;
    max-height: 260px;
    border-radius: 8px;
    padding: 24px 32px 24px 32px;
    box-shadow: 0px 0.5px 1px 1px #abbed1;
}
.member{
    width: 267px;
    max-height: 144px;
    text-align: center;
}
.member h3{
    width:267px;
    height: 72px;
    font-family: var(--font-title);font-size: 28px;font-weight: 700;line-height: 36px;
    color: var(--color-title);
}
.info-p{
    max-width: 251px;
    max-height: 60px;
    font-family: var(--font-text);font-size: 14px;font-weight: 400;line-height: 20px;
    color: var(--color-text);
    text-align: center;
}
.hero-section4{
    max-width: 100%;
    max-height: 433px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 144px;
    padding-right: 144px;
}
.unlok-img img{
    width: 442px;
    height: 433px;
}
.unlok-information{
    width: 661px;
    max-height: 268px;
}
.unlok-information h2{
    font-family: var(--font-title);font-size: 36px;font-weight: 600;line-height: 44px;
    color: var(--color-title);    
}
.unlok-information p{
    font-family: var(--font-text);font-size: 14px;font-weight: 400;line-height: 20px;
    color: var(--color-text);
}
.unlok-button{
    max-width: 151px;
    max-height: 52px;
    border-radius: 4px;
    padding: 14px 32px 14px 32px;
    background-color: var(--button-green-bg);
    color: var(--button-text);
    border: none;
}
/*Here you put :hover so that the button's color changes when it's touched*/
.unlok-button:hover{
    background-color: var(--button-green-hover);
    color: var(--color-title-footer);
}
/*section 5*/
.hero-section5{
    max-width: 100%;
    max-height: 288px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 64px 144px 64px 144px;
    background-color: var(--button-white-bg);
}
.achievements-info{
    width: 540px;
    max-height: 120px;
    padding: 8px;
}
.achievements-info h2{
    font-family: var(--font-title);font-size: 36px;font-weight: 600;line-height: 44px;
    color: var(--color-title);  
}
.achievements-info p{
    font-family: var(--font-text);font-size: 16px;font-weight: 400;line-height: 24px;
    color: var(--color-text);
}
.achievements-number{
    max-width: 540px;
    max-height: 160px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}
.achievements-item{
    max-width: 255px;
    max-height: 60px;
    display: flex;
    gap: 16px;
}
.number{
    max-width: 191px;
    max-height: 60px;
}
.number h2{
    margin: 0;
    font-family: var(--font-title);font-size: 28px;font-weight: 700;line-height: 36px;
    color: var(--color-title); 
}
.number p{
    margin: 0;
    font-family: var(--font-text);font-size: 16px;font-weight: 400;line-height: 24px;
    color: var(--color-text);

}
/*section 6 
Here they explain how to design your website's footer*/

.hero-section6{
    max-width: 100%;
    max-height: 433.4px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 144px;
    padding-right: 144px;
}
.calender-information{
    width: 661px;
    max-height: 308px;
}
.calender-information h2{
    font-family: var(--font-title);font-size: 36px;font-weight: 600;line-height: 44px;
    color: var(--color-title); 
}
.calender-information p{
    font-family: var(--font-text);font-size: 14px;font-weight: 400;line-height: 20px;
    color: var(--color-text);
}
.calendar-button{
    max-width: 151px;
    max-height: 52px;
    border-radius: 4px;
    padding: 14px 32px 14px 32px;
    background-color: var(--button-green-bg);
    color: var(--button-text);
    border: none;
}
/*Here you put :hover so that the button's color changes when it's touched*/
.calendar-button:hover{
    background-color: var(--button-green-hover);
    color: var(--color-title-footer);
}

/*section 7*/
.hero-section7{
    max-width: 100%;
    max-height: 390px;
    background-color: var(--button-white-bg);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 32px 144px 32px 144px;
    gap: 78px;
}
.customers-information{
    width: 748px;
    max-height: 324px;
}
.customers-info{
    max-height: 244px;
    font-family: var(--font-text);font-size: 16px;font-weight: 500;line-height: 24px;
    color: var(--color-text);
}
.customers-logo{
    max-height: 48px;
    display: flex;
    flex-direction: row;
    gap: 32px;
}

/*Section 8*/
.hero-section8{
    max-width: 100%;
    max-height: 606px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.community-updates{
    width: 1110px;
    max-height: 124px;
    padding-bottom: 8px;
    text-align: center;
}
.community-updates h2{
    margin: 0;
    font-family: var(--font-title);font-size: 36px;font-weight: 600;line-height: 44px;
    color: var(--color-title);
}
.community-updates p{
    font-family: var(--font-text);font-size: 16px;font-weight: 400;line-height: 24px;
    color: var(--color-text);
}
.community-updates-img{
    width: 100%;
    max-height: 366px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 144px;
    padding-right: 144px;
    
}
.community-updates-information{
    max-width: 368px;
    max-height:366px ;
    position: relative;
    
}

    
.community-updates-info{
    justify-content: center;
    position: absolute;
    max-width: 317px;
    max-height: 176px;
    border-radius: 8px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: #f5f7fa;
    transform: translateY(-50%);
    

  
}
.community-updates-info p{
    font-family: var(--font-text);font-size: 20px;font-weight: 600;line-height: 28px;
    color: var(--color-text);
}

/*Footer*/
footer{
    max-width: 100%;
    max-height: 628px;
    margin-top: 150px;
}
.footer-title{
    max-height: 300px;
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: var(--button-white-bg);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer-title h2{
    margin: auto;
    width: 887px;
    height: 152px;
    text-align: center;
    font-family: var(--font-title);font-size: 64px;font-weight: 600;line-height: 76px;
    color: var(--color-title1);
}

.footer-title button{
    margin: auto;
    max-width: 178px;
    max-height: 52px;
    border-radius: 4px;
    padding: 14px 32px 14px 32px;
    background-color: var(--button-green-bg);
    color: var(--button-text);
    border: none;
}
/*Here you put :hover so that the button's color changes when it's touched*/
.footer-title button:hover{
    background-color: var(--button-green-hover);
    color: var(--color-title-footer);
}
.footer-information{
    max-width: 100%;
    max-height: 328px;
    padding: 64px 165px 64px 165px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 125px;
    background-color: var(--color-title-footer);
}
.footer-info{
    max-width: 350px;
    max-height: 189.67px;
    color: var(--button-text);}
    
.footer-link{
    max-width: 635px;
    max-height: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    color: var(--button-text);
}
.link-item{
    max-width: 160px;
    max-height: 200px;
}
.link-item h3{
    font-family: var(--font-title);font-size: 20px;font-weight: 600;line-height: 28px;
}
.link-item p{
    font-family: var(--font-text);font-size: 14px;font-weight: 400;line-height: 28px;
}
.link-item button{
    width: 255;
    height: 40px;
    border-radius: 8px;
    background-color: gray;
    color: #d9dbe1;
    border: none;

}
@media (max-width:768px){
    .nav-list{
        display: flex;
        flex-direction: column;
    }
    .info-title h1{
        font-size: 30px
    }
}


    